// @charset "utf-8";

// @import "@chatscope/chat-ui-kit-styles/themes/default/variables";



// $main-container-border: 0;
// $color-text: red;
// $conversation-color: pink;

// .message-list {
//   background-color: $conversation-color;
//   color: $color-text;
// }
.element.style {
}

.cs-chat-container .cs-message-input {
    border-top: solid 1px #d1dbe3;
    border-right: solid 0px #d1dbe3;
    border-bottom: solid 0px #d1dbe3;
    border-left: solid 0px #d1dbe3;
    margin-top: auto;
    padding: 0.3em 0 0.3em 0em;
    color: rgba(0,0,0,.87);
    background-color: rgb(50, 48, 48);
}
.cs-chat-container .cs-message-input .cs-message-input--text {
    border-top: solid 1px #d1dbe3;
    border-right: solid 0px #d1dbe3;
    border-bottom: solid 0px #d1dbe3;
    border-left: solid 0px #d1dbe3;
    margin-top: auto;
    padding: 0.3em 0 0.3em 0em;
    color: rgba(0,0,0,.87);
    background-color: rgb(44, 42, 42);
}



.cs-message__content {
    box-sizing: border-box;
    color: rgba(0,0,0,.87);
    background-color: white;
    margin-top: 0;
    padding: 0.6em 0.9em;
    border-radius: 0.75em 0.75em 0.75em 0.7em;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: .91em;
    font-variant: normal;
}

.cs-message-input__content-editor-wrapper {
    box-sizing: border-box;
    position: relative;
    background-color: white;
    margin: 0;
    padding: 0.6em 0.9em;
    border-radius: 0.7em;
    flex-grow: 1;
}

.cs-message-input__content-editor {
    box-sizing: border-box;
    flex-grow: 1;
    background-color: white;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    outline: 0;
    border-top: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    overflow: visible;
    color: rgba(0,0,0,.87);
    overflow-wrap: anywhere;
    word-break: break-word;
}

.cs-button--attachment {
    color: white;
    background-color: transparent;
}

.cs-button--send {
    color: white;
    background-color: transparent;
}

.cs-message-separator {
    box-sizing: border-box;
    color: black;
    background-color: neutral-100;
    font-size: .8em;
    font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.cs-message-separator::before, .cs-message-separator::after {
    box-sizing: border-box;
    content: "";
    background-color: white;
    display: block;
    flex-grow: 1;
    height: 1px;
}